#cab_casas{
			color:#ffffff;
			width:700px;
			height:0px;
			margin-top:25px;
		}
	

nav li{
	display: inline-block;
	margin:0 0 0 15px;
}

nav ul{
	display: inline-block;
	margin:0 0 0 15px;
}

nav div{
	display: inline-block;
	margin:0 0 0 15px;
}

.hight{
	align="hight";
}

.left{
	align="left";
}
	

#form_cadast{
		padding:;
		background-color:#0C2D3F;
	}
		
	
#primeiro{
	
			background-color:#0C6;
				
	}	
		
	
		
	